body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.login {
  border: 0px solid;
  text-align: center;
  border-radius: 10px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 200px;

  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.greet {
  text-align: left;
  padding-top: 30px;
  padding-left: 50px;
}
.greet1 {
  text-align: left;
  padding-left: 50px;
}
input {
  margin-top: 3%;
  padding: 5px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  width: 72%;
  margin-left: 2%;
  font-size: medium;
}
h3 {
  text-align: left;
  padding-left: 20px;
}
img {
  width: 4%;
  height: 4%;
}
button {
  background-color: greenyellow;
  width: 78%;
  margin-left: 2%;
  margin-top: 10%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #706f71;
}
table {
  margin-top: 5%;
  text-align: center;
  padding: 20px;
  padding-left: 25%;
  margin-top: 1%;
}
.forgetPassword {
  text-align: right;
  padding-left: 50%;
}
.login #user-err,
.login #pass-err,
.login #user-unavl,
.login #email-err,
.login #name-err,
.login #pass-mismatch-err,
#err-msg,
#pass-err1,
#len-err,
#usr-exist {
  text-align: center;
  color: #eb4934;
  display: none;
  padding-left: 70px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: inherit;
  background-color: #ebf1f4;
}
li {
  float: left;
  display: inline;
  padding: 20px;
}

a {
  display: block;
}
#signin {
  padding-left: 60%;
  position: absolute;
  border: 1px solid greenyellow;
  box-sizing: border-box;
  border-width: inherit;
}
#signup {
  padding-left: 50%;
  position: absolute;
}
#brand {
  font-size: large;
  padding: 17.7px;
}
