button{
    color: white;
    margin: 20px;
    background-color: rgb(200, 0, 0);
    border: none;
    width: 105px;
    height: 36px;
    border-radius: 2px;
    cursor: pointer;
}

#subscribe-Button{
    color: white;
    margin: 20px;
    background-color: rgb(200, 0, 0);
    border: none;
    width: 105px;
    height: 36px;
    border-radius: 2px;

}

#subscribe-Button:hover{
    opacity: 0.8;
    transition: opacity 0.15s;
}

#subscribe-Button:active{
    opacity: 0.5;
}


#join-Button{
    margin: 20px;
    background-color: white;
    border:  rgb(10, 170, 233) solid 1px;
    color: rgb(10, 170, 233);
}

#join-Button:hover{
    background-color: rgb(10, 170, 233);
    color: white;
    border: none;

}

#join-Button:active{
    background-color: rgb(20, 100, 146);
}

#tweet-Button{
    color: white;
    background-color: rgb(34, 162, 212);
    border: none;
    width: 105px;
    height: 36px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border-radius: 18px;
    transition: background-color 0.15s, color 0.15s;
}

#tweet-Button:hover{
    box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.15 s;
}

