* {
  border: 0;
  margin: 0;
}

.video-title {
  color: rgb(239, 240, 241);
  font-family: Arial;
  font-size: 15px;
  font-weight: normal;
  width: 300px;
  line-height: 24px;
  font-style: italic;
  margin-bottom: 0px;
  margin-top: 0px;
}

.video-title:hover {
  color: rgb(121, 181, 31);
}

.video-stats {
  font-family: Arial;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgb(200, 196, 196);
  font-weight: normal;
}

body {
  background-color: #000000;
}

.channel {
  color: rgb(121, 181, 31);
  margin-top: 0px;
  margin-bottom: 5px;
}

.flex {
  display: flex;
  float: left;
}

.logo {
  width: 40px;
  height: 40px;
  margin: 0px 10px 0px 10px;
  border-radius: 50px;
}

.video-content {
  width: 360px;
  height: 200px;
  border-radius: 15px;
  margin: 10px;
}

a {
  text-decoration: none;
}

.page-header {
  grid-area: nav-header;
  background-color: rgb(24, 24, 24);
  padding: 10px;
  padding-bottom: 5px;
  margin-left: 0px;
  position: fixed;
  width: 2000px;
}

.page-body {
  margin-top: 70px;
  margin-left: 0px;
  grid-area: main-body;
  padding: 20px;
  width: 1000px;
}

.page-sidebar {
  position: fixed;
  grid-area: nav-side;
  background-color: rgb(24, 24, 24);
  padding-left: 10px;
  padding-top: 13px;
  padding-bottom: 0px;
  padding-right: 10px;
  width: 60px;
  text-align: center;
  margin-right: 0px;
  height: 1000px;
}

.page-footer {
  grid-area: footer;

  padding: 10px;
}

.my-page {
  display: grid;
  grid-template-areas:
    "nav-header  nav-header  nav-header  nav-header"
    "nav-side   main-body   main-body        main-body"
    "footer   footer    footer      footer";
}

#brand {
  color: white;
  font-family: Roboto, Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  margin: 14px 10px 10px 0px;
}
#brand-logo {
  height: 40px;
  margin: 3px 5px 10px 100px;
}

sup {
  font-weight: normal;
  font-size: 10px;
}

.menu {
  padding: 10px;
  padding-left: 20px;
  width: 24px;
  height: 24px;
  margin-bottom: 50px;
}

.icon-text {
  color: white;
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 11px;
}

.icon {
  width: 30px;
}
.search-box {
  width: 500px;
  margin-left: 150px;
  margin-top: 5px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 10px;
  background-color: #0f0f0f;
  height: 20px;
  border: rgb(24, 24, 24) solid 1px;
  color: white;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
}
.search-btn {
  width: 80px;
  border-top-right-radius: 30px;
  height: 40px;
  background-color: rgb(35, 35, 35);
  border-bottom-right-radius: 30px;
  border: none;
  margin: 5px 0px 30px 650px;

  position: absolute;
}

.search {
  width: 30px;

  height: 30px;
  cursor: pointer;

  margin-top: 5px;
}

.mike {
  margin-left: 750px;
  margin-top: 5px;
  position: absolute;
  padding: 10px;
  width: 40px;
  border-radius: 20px;
  border: none;
  box-sizing: border-box;
  background-color: rgb(35, 35, 35);
}

.video {
  padding: 20px;
}

.settings {
  position: fixed;
  height: 30px;
  margin: 10px 0px 0px 85%;
}

.signin {
  width: 25px;
  height: 25px;

  border: none;
  align-items: center;
  padding: 8px;
  border-radius: 30px;
}

.signin-txt {
  color: #40c057;
  padding: 12px;
  padding-left: 0px;
  font-size: 15px;
  font-weight: normal;
}

.signin-btn {
  background-color: rgb(24, 24, 24);
  position: absolute;
  padding-bottom: 0px;
  border-radius: 20px;
  height: 40px;
  margin: 5px 0px 10px 52%;
  cursor: pointer;
}
